.designer{
    width: 100%;
    background: var(--btn-and-line-green);
}

.designer__title{
    font-size: 30px;
    line-height: 66px;
    font-family: var(--Montserrat-Medium);
    color: var(--title-black);
}

.designer__par{
    font-size: 18px;
    line-height: 27px;
    font-family: var(--Roboto-Medium);
    color: var(--white);
    max-width: 535px;
    text-align: center;
}

