@media (max-width: 820px) {
  .header {
    max-height: 450px;
  }
  .navigation__nav-menu {
    display: none;
  }

  .navigation__burger {
    display: flex;
  }

  .skills__img {
    display: none;
  }
  .skills__prof-skills {
    width: 100%;
    align-items: center;
  }

  .scale {
    width: 50%;
  }

  .scale__par {
    text-align: center;
  }
  .skills {
    height: auto;
  }
  .many-images__block {
    width: 50%;
  }
  .many-images__load {
    padding: 20px 0;
  }

  .video-content_content {
    padding: 20px 0;
  }
  .video-content__title {
    font-size: 35px;
    line-height: 70px;
  }
  .video-content__par {
    max-width: 550px;
    font-size: 18px;
  }
  .video-content__video {
    width: 95%;
  }
  .logotips_container {
    padding: 70px 15px 60px;
  }
  .footer_container {
    padding: 20px;
  }
  .footer__nav {
    margin: 30px auto;
    width: 100%;
  }
}

@media (max-width: 655px) {
  i {
    font-size: 42px;
  }
  #bur:checked ~ .navigation__burger-menu {
    flex-wrap: wrap;
    flex-direction: row;
    width: 300px;
    height: 100px;
    top: -30px;
  }
  #bur:checked ~ .navigation__burger-menu-mini {
    height: 50px;
    top: 0;
  }
  #bur:checked ~ .navigation__burger-menu .navigation__burger-list {
    display: flex;
    width: 45%;
    padding: 5px;
  }
  #bur:checked ~ .navigation__burger-menu .navigation__burger-list:first-child {
    width: 100%;
    padding: 5px 0;
  }

  .scale {
    width: 80%;
  }

  .review_container {
    padding: 30px 15px;
    flex-wrap: wrap;
  }
  .review__block {
    width: 50%;
    margin-bottom: 20px;
  }
  .what-made {
    padding-top: 15px;
    padding-bottom: 45px;
  }

  .what-made__block {
    width: 50%;
    margin-top: 25px;
  }
  .logotips__img {
    width: 35%;
    margin-bottom: 35px;
  }
  .logotips_container {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 35px 15px 0;
  }
}

@media (max-width: 480px) {
  .header {
    max-height: 400px;
  }
  .content-header {
    max-width: 370px;
  }
  .content-header__title {
    line-height: 35px;
    margin: 35px 0 20px 0;
    font-size: 28px;
  }

  .content-header__par {
    font-family: var(--Montserrat-Medium);
    margin-bottom: 27px;
    color: var(--grey);
  }

  .content-header__link {
    width: 130px;
    height: 45px;
    margin: auto;
  }

  #bur:checked ~ .navigation__burger-menu {
    width: 200px;
  }

  #bur:checked ~ .navigation__burger-menu-mini {
    height: 50px;
    top: 0;
  }
  

  .many-images__load {
    font-size: 16px;
  }

  .video-content__title {
    font-size: 33px;
    line-height: 60px;
  }
  .video-content__par {
    max-width: 300px;
  }
  .video-content__par {
    line-height: 24px;
  }
  .what-made__title {
    display: flex;
    align-items: center;
    font-size: 10px;
    min-height: 40px;
    line-height: 18px;
  }

  .form-data__par {
    margin-bottom: 20px;
  }

  .form-data__form > input {
    width: 100%;
  }

  .form-data__text {
    height: 100px;
    box-sizing: border-box;
  }

  .footer__info {
    margin-bottom: 30px;
  }

  .footer__title {
    margin-bottom: 15px;
  }

.designer__title{
  
}
}

@media (max-width: 360px) {
  #bur:checked ~ .navigation__burger-menu {
    width: 165px;
  }

  #bur:checked ~ .navigation__burger-menu .navigation__burger-link {
    font-size: 10px;
  }
  #bur:checked ~ .navigation__burger-menu .navigation__burger-list {
    padding: 3px;
  }

  .about-us__container {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .about-us__par {
    margin-top: 7px;
    margin-bottom: 20px;
  }

  .skills__prof-skills {
    padding-top: 30px;
  }

  .skills__title {
    font-size: 28px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 30px;
  }

  .review__block {
    width: 100%;
  }

  .video-content__title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 20px;
    text-align: center;
  }

  .what-made__block{
      width: 100%;
  }
}
